{% extends "base.html" %}

{% block style %}
    table {
        table-layout: fixed;
        width: 100%;
        text-align: center;
        font-family: sans-serif;
    }
    iframe {
        display: inline-block !important;
    }
    noscript > * {
        display: table-cell;
        vertical-align: middle;
    }
    noscript > div:first-child {
        background-color: #f55;
        font-weight: bold;
        font-size: 2em;
        padding: 0 20px;
        width: auto;
    }
    noscript > div:last-child {
        background-color: #faa;
        padding: 10px;
        width: 100%;
    }
{% endblock %}

{% block body %}
    <h1>AVoid Safari</h1>
    <h3>What is it?</h3>
    <p>
        AVoid Safari is an app built by <a href="https://www.reddit.com/user/Tsa6/">/u/Tsa6</a>
        for <a href="https://www.reddit.com/r/AVoid5/">/r/AVoid5</a>.  It highlights posts from
        all across Snoo's domain that follow a bunch of lipogramatic constraints.  Normally,
        AVoids wouldn't find or point out such posts just browsing.  This app was built to
        hightlight lipogramatic posts and award AVoids for hard work and vigilant posting.
    </p>
    <h3>How can my post show up?</h3>
    <p>
        To sift through lots of low quality, low work, posts, a post must hit a small amount of
        constraints:
    </p>
    <ul>
        <li>Your post must consist of 15+ words, not counting using a word again</li>
        <li>75+ glyphs, including blank glyphs, punctuation, and misc symbols</li>
        <li>If your post is NSFW, or is in a NSFW discussion, it wil not count</li>
        <li>Your post can't contain any fifthglyphs, not counting login IDs or links</li>
        <li>Posts on /r/AVoid5 do not count, as all posts on /r/AVoid5 follow lipogramatic constraints.</li>
        <li>Our bot can't find posts in non-public subs, so skips such posts</li>
        <li>As of right now, word posts and links do not count, but this may soon.</li>
    </ul>
    <h3>Additional Info</h3>
    <p>
        If you want additional info about this app, its constraints, or its programming, follow
        this link for <a href='info'>Additional Info</a>,  or contact /u/Tsa6 by
        <a href='mailto://tsa6@tsa6.net'>virtual mail</a> or writing a
        <a href='https://www.reddit.com/message/compose?to=Tsa6&subject=AVoid%20Safari' >PM
        through Snoo</a>.
    </p>
    <noscript>
        <div>
            !
        </div>
        <div>
            To display discussion without clicking links, allow scripts from redditstatic.com
        </div>
    </noscript>
    <table>
        <thead>
            <tr>
                <th>
                    <h2>Young Posts</h2>
                </th>
                <th>
                    <h2>Today's Long Posts</h2>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for pair in comments %}
            <tr>
                <td>{{pair.0|safe}}</td>
                <td>{{pair.1|safe}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <script async src="https://www.redditstatic.com/comment-embed.js"></script>
{% endblock %}